body{
    background-color: antiquewhite;
    color: darkslategrey;
    width: 1200px;
    margin:auto;
    padding: 10px;
}

code{
    background-color: black;
    color: white;
    padding: 3px;
}

a{  
    text-decoration: none;
}